* {
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}
ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1980px;
    margin: 0 auto;
}
.tel-links{
    color: whitesmoke;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 38px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
header{
    background: black;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.schedule{
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 800;
    line-height: 190%;
    text-transform: uppercase;
}
.tel-link{
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 190% ;
    text-transform: uppercase;
}
.social-media-links {
    display: flex;
    align-items: center;
}
.logo-inst-link {
    margin-left: 15px;
}

.logo {
padding: 15px 0px;    
}
.tel{
    display: flex;
    align-items: center;
}
.time{
    display: flex;
    align-items: center;
}
.imgn{
    display: flex;
    padding:15px;
}